<header class="row" id="content-header">
			
		<nav class="col-md-4 col-md-push-8">
			<ul class="breadcrumb">
				<li><%= link_to "My Info", company_user_path(session[:company_id], session[:user_id]) %></li>
				<li><%= link_to "Edit Password", company_user_path(session[:company_id], session[:user_id])+'/edit_password' %></li>
			</ul>
		</nav>
	
		<div class="col-md-8 col-md-pull-4 current-heading">
	
			<h1>Edit Password</h1>
		
		</div>
	
</header>

<div class="row">
	
	<div class="top-buttons col-md-8 col-sm-6">
		<%= link_to "Back", company_user_path(), html_options = { class: "btn btn-default" } %>
	</div>
	
	<div class="col-md-8">
		
		<%= form_for [@company, @user], :url => company_user_path(@company, @user)+'/update_password', :html => { :class => "", :autocomplete => "off" } do |f| %>
		
			<div class="form-group oldpassword">
				<%= f.label :password, "Current password" %>
				<%= f.password_field :password, :class => "form-control" %>
			</div>
			
			<div class="form-group newpassword">
				<%= f.label :new_password, "New password" %>
				<%= f.password_field :new_password, :class => "form-control" %>
			</div>
			
			<div class="form-group newpassword">
				<%= f.label :new_password, "New password (again)" %>
				<%= f.password_field :new_password, :class => "form-control" %>
			</div>
			
			<div class="control-group buttons">
				<%= f.submit "Save Password", :class => "btn btn-primary" %>
			</div>
		
		<% end %>
		
	</div>
	
	<div class="col-md-4">
		<%= render "shared/company_sidebar" %>
	</div>
	
</div>
