<header class="row">

	<nav>
		<ul class="breadcrumb pull-right">
			<li><%= link_to "Home", "/" %></li>
			<li><%= link_to "Companies", :controller => "companies", :action => "index" %></li>
			<li><%= link_to @company.name, @company %></li>
			<li><%= link_to "Users", :action => "index" %></li>
		</ul>
	</nav>

	<div class="col-md-8 current-heading">
	
		<h1>Users assigned to <%= @company.name %></h1>
	
	</div>
	
	<% if ((session[:user_access] == 2)&&(session[:company_id] == @company.id)) || session[:user_access] == 4 %>
	<div class="top-buttons col-md-8">
		<%= link_to "New User", new_company_user_path(), html_options = { class: "btn btn-default" } %>
	</div>
	<% end %>
	
</header>

<div class="row">
	
	<div class="col-md-8">
		
		<% if @company.users.size == 0 %>
		<div class="alert">
			<span>No users are assigned to this company. Self-service will not work.</span>
		</div>
		<% else %>
		<table class="table table-responsive table-striped table-hover table-bordered" id="table-company-users">
			<thead>
				<tr>
					<th span="col" class="fullname">Full name</th>
					<th span="col" class="email">Email</th>
					<% if ((session[:user_access] == 2)&&(session[:company_id] == @company.id)) || session[:user_access] == 4 %>
					<th span="col" class="access">Access</th>
					<% end %>
					<% if ((session[:user_access] == 2)&&(session[:company_id] == @company.id)) || session[:user_access] == 3 || session[:user_access] == 4 %>
					<th span="col" class="status">
						Status
					</th>
					<% end %>
				</tr>
			</thead>
			<tbody>
				<% @company.users.each do |user| %>
				<tr>
					<th span="row">
						<% if ((session[:user_access] == 2)&&(session[:company_id] == @company.id)) || session[:user_access] == 4 %>
						<%= link_to user.fullname, company_user_path(@company, user) %>
						<% else %>
						<%= user.fullname %>
						<% end %>
					</th>
					<td class="email"><%= mail_to user.email %></td>
 					<td class="access"><%= @user_access_levels.invert[user.access] %></td>
					<% if ((session[:user_access] == 2)&&(session[:company_id] == @company.id)) || session[:user_access] == 3 || session[:user_access] == 4 %>
					<td>
						<% if user.enabled %>
						<span class="label label-success">Enabled</span>
						<% else %>
						<span class="label label-warning">Disabled</span>
						<% end %>
					</td>
					<% end %>
				</tr>
				<% end %>
			</tbody>
		</table>
		<% end %>
		
	</div>
	
	<div class="col-md-4 pull-right">
		<%= render "shared/company_sidebar" %>
	</div>
	
</div>
