<header class="row">

	<nav>
		<ul class="breadcrumb pull-right">
			<li><%= link_to "Home", "/" %></li>
			<li><%= link_to "Companies", :controller => "companies", :action => "index" %></li>
			<li><%= link_to @company.name, @company %></li>
			<li><%= link_to "Users", :action => "index" %></li>
		</ul>
	</nav>

	<div class="col-md-8 current-heading">
	
		<h1><%= @user.fullname %></h1>
	
	</div>
	
	<% if (session[:user_access] == 2 && @company.id == session[:company_id] && session[:user_access] >= @user.access) || session[:user_access] == 4 %>
	<div class="col-md-8 top-buttons">
		<%= link_to "Edit User", edit_company_user_path(@company, @user), class: "btn btn-default edit pull-left" %>
		<% if @user.id != session[:user_id] %>
		<%= link_to "Delete User", company_user_path(@company, @user), method: :delete, data: { confirm: "Are you sure you want to delete this user?" }, class: "btn btn-xs btn-danger delete pull-right" %>
		<% end %>
	</div>
	<% end %>

</header>

<div class="row">
		
	<div class="col-md-8">
		
		<table class="table table-bordered">
			<tbody>
				<tr>
					<th span="row">Email</th>
					<td><%= mail_to @user.email %></td>
				</tr>
				<tr>
					<th span="row">Access Level</th>
					<td><%= @user_access_levels.invert[@user.access] %></td>
				</tr>
				<% if ((session[:user_access] == 2) && (@company.id == session[:company_id]) && session[:user_access] >= @user.access) || session[:user_access] == 4 %>
				<tr>
					<th span="row">User Status</th>
					<td>
						<% if @user.enabled %>
						<span class="label label-success">Enabled</span>
						<% else %>
						<span class="label label-warning">Disabled</span>
						<% end %>
					</td>
				</tr>
				<tr>
					<th span="row">Last Updated at</th>
					<td><%= @user.updated_at %></td>
				</tr>
				<tr>
					<th span="row">Created at</th>
					<td><%= @user.created_at %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		
		<div class="row">
			<div class="col-md-12">
				<% if session[:user_access] == 4 %>
				<h2>Recent Login Attempts</h2>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Time and Date</th>
							<th>IP Address</th>
							<th>Result</th>
						</tr>
					</thead>
					<tbody>
						<% @user.logins(10).reverse.each do |login| %>
						<tr>
							<td>
								<%= login.created_at %>
							</td>
							<td>
								<%= IPAddr.new(login.ip_addr.to_i, Socket::AF_INET6).to_s %>
							</td>
							<td>
								<% if login.success == true %>
								<span class="label label-success">Successful</span>
								<% else %>
								<span class="label label-important">Failed</span>
								<% end %>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
				<% end %>
			</div>
		</div>
	</div>
	
	<div class="col-md-4 pull-right">
		<%= render "shared/company_sidebar" %>
	</div>
	
</div>
