<%= form_for @company do |f| %>

<div class="col-md-8">
	
	<% if @company.errors.any? %>

	<p><%= pluralize(@company.errors.count, "error", "errors") %> came up when trying to save new user.</p>

	<% @company.errors.full_messages.each do |msg| %>
	<div class="alert alert-warning">
		<%= msg %>
	</div>
	<% end %>

	<% end %>
	
	<% if session[:user_access] == 4 %>
	<fieldset>
		<legend>Basic Information</legend>
		<div class="form-group name">
			<%= f.label :name %>
			<%= f.text_field :name, :class => "form-control" %>
		</div>
		<div class="form-group kennitala">
			<%= f.label :kt, "Kennitala" %>
			<%= f.text_field :kt, :class => "form-control" %>
		</div>
		<div class="form-group checkbox enabled">
			<label class="checkbox-inline">
				<%= f.check_box :enabled %>
				Account enabled
			</label>
		</div>
	</fieldset>
	<% end %>
	
	<fieldset class="">
		<legend>Contact Information</legend>
		<div class="form-group contact-name">
			<%= f.label :contact_name, "Contact Name" %>
			<%= f.text_field :contact_name, :class => "form-control" %>
		</div>
		<div class="form-group email">
			<%= f.label :email %>
			<%= f.email_field :email, :class => "form-control" %>
		</div>
		<div class="form-group phone">
			<%= f.label :tel, "Phone" %>
			<%= f.telephone_field :tel, :class => "form-control" %>
		</div>
		<div class="form-group mobile">
			<%= f.label :mobile, "Mobile Phone" %>
			<%= f.telephone_field :mobile, :class => "form-control" %>
		</div>
		<div class="form-group fax">
			<%= f.label :fax, "Fax" %>
			<%= f.telephone_field :fax, :class => "form-control" %>
		</div>
	</fieldset>
	
	<fieldset>
		<legend>Addresses</legend>
		<div class="form-group">
			<%= f.label :address1, "Billing Address" %>
			<%= f.text_field :address1, :placeholder => "Line 1", :class => "form-control" %>
		</div>
		<div class="form-group">
			<%= f.text_field :address2, :placeholder => "Line 2", :class => "form-control" %>
		</div>
		<div class="row">
		<div class="form-group col-xs-4">
			<%= f.text_field :postcode, :placeholder => "Postcode", :class => "form-control" %>
		</div>
		<div class="form-group col-xs-8">
			<%= f.text_field :city, :placeholder => "City", :class => "form-control" %>
		</div>
		</div>
		<div class="form-group">
			<%= f.label :shipping_address1, "Shipping Address" %>
			<%= f.text_field :shipping_address1, :placeholder => "Line 1", :class => "form-control" %>
		</div>
		<div class="form-group">
			<%= f.text_field :shipping_address2, :placeholder => "Line 2", :class => "form-control" %>
		</div>
		<div class="row">
		<div class="form-group col-xs-4">
			<%= f.text_field :shipping_postcode, :placeholder => "Postcode", :class => "form-control" %>
		</div>
		<div class="form-group col-xs-8">
			<%= f.text_field :shipping_city, :placeholder => "City", :class => "form-control" %>
		</div>
		</div>
	</fieldset>
	
	<% if session[:user_access] == 4 %>
	<fieldset class="">
		<legend>Comments</legend>
		<div class="form-group">
			<%= f.text_area :comments, :rows => 6, :class => "form-control" %>
		</div>
	</fieldset>
	<% end %>
	
	<div class="form-group">
		<%= f.submit "Save", :class => "btn btn-primary" %>
	</div>
	
</div>

<% end %>