<header>

	<nav class="row">
		<ul class="breadcrumb">
			<li><%= link_to "Companies", :action => "index" %> <span class="divider">/</span></li>
			<li><%= link_to @company.name, @company %> <span class="divider">/</span></li>
			<li><%= link_to "Edit", edit_company_path(@company) %></li>
		</ul>
	</nav>

	<div class="row">
	
		<div class="span8">
		
			<h1><%= @company.name %></h1>
		
		</div>
	
	</div>

</header>

<div class="row">
	
	<div class="span8">
		<%= render "form" %>
	</div>
	
	<div class="span4 pull-right">
		<%= render "shared/company_sidebar" %>
	</div>
	
</div>