<header class="row" id="content-header">
			
		<nav class="col-md-6 pull-right">
			<ul class="breadcrumb">
				<li><%= link_to "Companies", :action => "index" %></li>
				<li><%= link_to @company.name, @company %></li>
				<li><%= link_to "Edit", edit_company_path(@company) %></li>
			</ul>
		</nav>
	
		<div class="col-md-6 current-heading">
	
			<h1>
				Edit Account
				<small><%= @company.name %></small>
			</h1>
		
		</div>
	
</header>

<div class="row">
	
	<%= render "form" %>
	
	<div class="col-md-4 pull-right">
		<%= render "shared/company_sidebar" %>
	</div>
	
</div>