<header class="row" id="content-header">
			
		<nav class="col-md-6 col-md-push-6">
			<ul class="breadcrumb">
				<% if session[:user_access] == 3 || session[:user_access] == 4 %>
				<li><%= link_to "Companies", :controller => "companies", :action => "index" %></li>
				<li><%= link_to @company.name, @company %></li>
				<% else %>
				<li><%= link_to "My Company", @company %></li>
				<% end %>
				<li><%= link_to "Edit", edit_company_path(@company) %></li>
			</ul>
		</nav>
	
		<div class="col-md-6 col-md-pull-6 current-heading">
	
			<h1>
				Edit Account
				<small><%= @company.name %></small>
			</h1>
		
		</div>
	
</header>

<div class="row">
	
	<div class="top-buttons col-md-8 col-sm-6">
		<%= link_to "Back", company_path(), html_options = { class: "btn btn-default" } %>
	</div>
	
	<%= render "form" %>
	
	<div class="col-md-4">
		<%= render "shared/company_sidebar" %>
	</div>
	
</div>