<div class="row content-header">
	
	<nav class="span6 pull-right">
		<ul class="breadcrumb">
			<li><%= link_to "Home", "/" %> <span class="divider">/</span></li>
			<li><%= link_to "Companies", :action => "index" %> <span class="divider">/</span></li>
			<li><%= link_to "New Company", :action => "new" %></li>
		</ul>
	</nav>

	<h1 class="span9">New company</h1>

</div>

<div class="row">
	
	<div class="span8">
		<%= render "form" %>
	</div>
	
	<div class="span4 pull-right">
		<nav class="" id="company-show-sidebar">
			<ul class="nav nav-tabs nav-stacked">
				<li>
					<%= link_to "Back to companies", companies_path%>
				</li>
			</ul>
		</nav>
	</div>
	
</div>