<div class="row content-header">
	
	<nav class="span6 pull-right">
		<ul class="breadcrumb">
			<li><%= link_to "Companies", :action => "index" %> <span class="divider">/</span></li>
			<li><%= link_to @company.name, @company %></li>
		</ul>
	</nav>

	<h1 class="span6">View Company</h1>

</div>

<div class="row">
	
	<nav class="span2" id="company-show-sidebar">
		<ul class="nav nav-tabs nav-stacked">
			<li><a href="">Users</a></li>
			<li><a href="">Deliveries</a></li>
		</ul>
	</nav>
	
	<div class="basic-info span10">
		<h2><%= @company.name %></h2>
		<table class="table">
			<% if @company.kt.present? %>
			<tr class="kt">
				<th span="row" class="span3">Kt</th>
				<td><a href="https://www.rsk.is/fyrirtaekjaskra/leit/kennitala/<%= @company.kt %>"><%= @company.kt %></a></td>
			</tr>
			<tr>
				<th span="row" class="span3">Account Status</th>
				<td>
					<% if @company.enabled %>
					<span class="label label-success">Enabled</span>
					<% else %>
					<span class="label label-important">Disabled</span>
					<% end %>
				</td>
			</tr>
			<% end %>
			<% if @company.contact_name.present? %>
			<tr class="contact-name">
				<th span="row" class="span3">Contact Name</th>
				<td><%= @company.contact_name %></td>
			</tr>
			<% end %>
			<% if @company.email.present? %>
			<tr class="email">
				<th span="row" class="span3">Email</th>
				<td><%= mail_to @company.email %></td>
			</tr>
			<% end %>
			<% if @company.tel.present? %>
			<tr class="tel">
				<th span="row" class="span3">Telephone</th>
				<td><a href="tel:<%= @company.tel %>"><%= @company.tel %></a></td>
			</tr>
			<% end %>
			<% if @company.mobile.present? %>
			<tr class="mobile">
				<th span="row" class="span3">Mobile Phone</th>
				<td><a href="tel:<%= @company.mobile %>"><%= @company.mobile %></a></td>
			</tr>
			<% end %>
			<% if @company.fax.present? %>
			<tr class="fax">
				<th span="row" class="span3">Fax</th>
				<td><a href="fax:<%= @company.fax %>"><%= @company.fax %></a></td>
			</tr>
			<% end %>
			<% if @company_has_billing_address %>
			<tr class="billing-address">
				<th span="row" class="span3">Billing Address</th>
				<td>
					<address>
						<% if @company.address1.present? %><span><%= @company.address1 %></span><br /><% end %>
						<% if @company.address2.present? %><span><%= @company.address2 %></span><br /><% end %>
						<% if @company.postcode.present? %><span><%= @company.postcode %></span><% end %>
						<% if @company.city.present? %><span><%= @company.city %></span><% end %>
					</address>
				</td>
			</tr>
			<% end %>
			<% if @company_has_shipping_address %>
			<tr class="shipping">
				<th span="row">Shipping Address</th>
				<td>
					<address>
						<% if @company.shiping_address1.present? %><span><%= @company.shipping_address1 %></span><br /><% end %>
						<% if @company.shiping_address1.present? %><span><%= @company.shipping_address2 %></span><br /><% end %>
						<% if @company.shiping_address1.present? %><span><%= @company.shipping_postcode %></span><% end %>
						<% if @company.shiping_address1.present? %><span><%= @company.shipping_city %></span><% end %>
					</address>
				</td>
			</tr>
			<% end %>
			<% if @company.comments.present? %>
			<tr>
				<th span="row">Comments</th>
				<td>
					<%= @company.comments %>
				</td>
			</tr>
			<% end %>
		</table>
	</div>
		
		<div class="buttons">
			<div class="span10 pull-right">
				<%= link_to "Edit Account", edit_company_path(@company), class: "btn edit pull-left" %>
				<%= link_to "Delete Account", company_path(@company), method: :delete, data: { confirm: "Are you sure you want to delete this account and all data accociated with it?" }, class: "btn btn-mini btn-danger delete pull-right" %>
			</div>
		</div>
		
</div>
