<div class="row">

<%= form_tag( nil, { :class => "col-md-6", :id => "login-form" }) do %>

<h1>Login</h1>

<% if @login_error %>
<div class="alert alert-warning">
	<strong>Error:</strong>
	<span><%= @login_error %></span>
</div>
<% end %>

<div class="form-group">
	<%= label_tag "email" %>
	<%= email_field_tag "email", nil, class: "form-control" %>
</div>

<div class="form-group">
	<%= label_tag "password" %>
	<%= password_field_tag "password", nil, class: "form-control" %>
</div>

<div class="form-group checkbox">
	<label>
		<%= check_box_tag "remember", true %>
		Remember my login
	</label>
</div>

<div class="form-group">
	<%= submit_tag "Log in", class: "btn btn-primary" %>
</div>

<% end %>

</div>