<!DOCTYPE html>
<html>
<head>
  <title>Fluttershy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div class="container row span12">
	
	<%= nav_bar :brand => "Fluttershy", :responsive => true do %>
	    <%= menu_group do %>
	        <%= menu_item "Deliveries", deliveries_path %>
	    <% end %>
	<% end %>

	<%= yield %>
	
	</div>

</body>
</html>
