<!DOCTYPE html>
<html>
<head>
	<title>Fluttershy - <%= params[:controller].capitalize %></title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	
	<div class="container-fluid">
	
		<header id="main-header" class="row span12">
			
			<p id="main-heading"><%= link_to "Fluttershy", root_path %></p>
			
			<nav class="">
				<ul class="nav nav-tabs">
					<% if session[:user_access] == 0..2 %>
					<%= menu_item "My Company", company_path(session[:company_id]) %>
					<% elsif session[:user_access] == 3 || session[:user_access] == 4 %>
					<%= menu_item "Companies", companies_path %>
					<% end %>
					<li class="dropdown pull-right">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<%= session[:user_fullname] %>
							<i class="caret"></i>
						</a>
						<ul class="dropdown-menu">
							<%= menu_item "Log out", logout_path %>
						</ul>
					</li>
				</ul>
			</nav>
				
		</header>
	
		<div class="row span12" id="content-area">

			<%= yield %>
	
		</div>
	
	</div>

</body>
</html>
