<!DOCTYPE html>
<html>
<head>
	<title>Fluttershy - <%= params[:controller].capitalize %></title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	
	<div class="container">
		
		<header id="main-header" class="">
			
			<div id="main-heading" class"col-md-12">
				<%= link_to "Fluttershy", root_path %>
			</div>
			
			<nav class="">
				<ul class="nav nav-tabs">
					<% if session[:user_access] == 0 || session[:user_access] == 2 %>
					<%= nav_item('My Company', company_path(session[:company_id]), 'companies').html_safe %>
					<%= nav_item('My Users', company_users_path(session[:company_id]), 'users').html_safe %>
					<% elsif session[:user_access] == 3 || session[:user_access] == 4 %>
					<%= nav_item('Companies', companies_path, 'companies').html_safe %>
					<% end %>
					<li class="dropdown pull-right">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= session[:user_fullname] %></a>
						<ul class="dropdown-menu">
							<li><a href="<%= logout_path %>">Log out</a></li>
						</ul>
					</li>
				</ul>
			</nav>
				
		</header>
		
		<%= yield %>
		
		<footer id="footer" class="row">
			<div class="col-md-12">
				<p>Project Fluttershy</p>
			</div>
		</footer>
		
	</div>

</body>
</html>
