<!DOCTYPE html>
<html>
<head>
  <title>Fluttershy - <%= params[:controller].capitalize %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div class="container-fluid">
	
		<header class="row span12">
	
			<%= nav_bar :brand => "Fluttershy", :responsive => true do %>
				<%= menu_group do %>
				<% if session[:user_access] == 2 %>
					<%= menu_item "My Company", company_path(session[:company_id]) %>
				<% elsif session[:user_access] == 3 || session[:user_access] == 4 %>
					<%= menu_item "Companies", companies_path %>
				<% end %>
				<% end %>
				<%= menu_group :pull => "right" do %>
					<%= menu_item session[:user_email] %>
					<%= menu_item "Log out", logout_path %>
				<% end %>
			<% end %>
	
		</header>
	
		<div class="row span12" id="content-area">

			<%= yield %>
	
		</div>
	
	</div>

</body>
</html>
